/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */
body {
    width: 80%;
    margin: 0 auto;
    font-family: fredoka, sans-serif;
    min-width: 600px;
    max-width: 1200px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* header */
header {
    text-align: center;
}

h1 {
    text-align: center;
    color: #E53170;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 40px;
}

/* MAIN */

main {
    margin-top: 50px;
}

/* grind */
.column {
    float: left;
    width: calc(100% / 3 - 40px / 3);
    background-color: black;
    color: white;
    margin-bottom: 40px;
}
.middle {
    margin: 0 20px;
}

.photo {
    float: left;
    vertical-align: middle;
    height: 100px;
    width: 100px;
    margin-right: 10px;
}

.info {
    margin: 10px;
}

.email {
    color: #6ECBF2;
    font-size: 0.9rem;
}



