/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */
body {
    width: 80%;
    margin: 0 auto;
    font-family: fredoka, sans-serif;
}

/* MAIN */